{% extends "main.html" %}
{% block title %}Rebook Session{% endblock %}
{% block content %}
<div class="container mt-5">
    <h3 class="text-center mb-4">Rebook Session for {{ booking.user.first_name }} {{ booking.user.last_name }}</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="new_availability">Select New Slot:</label>
            <select id="new_availability" name="new_availability" class="form-select" required>
                {% for slot in available_slots %}
                    <option value="{{ slot.availability }}"> {{ slot.date|date:"jS F Y" }} - {{ slot.start_time }} for {{ slot.duration }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Rebook</button>
    </form>
</div>
{% endblock %}
