{% extends 'main.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Profile</h2>
    <form method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow">
        {% csrf_token %}
      <div class="mb-3 text-center">
          <label for="profile_picture">Profile Picture</label><br>
        {% if user.is_authenticated and user.profile_picture.url %}
            <img src="{{ user.profile_picture.url }}" class="rounded-circle" style="width:150px; height: 150px">
        {% else %}
            <img src="{% static 'images/default-profile.png' %}" class="rounded-circle" style="width:150px; height: 150px">
        {% endif %}
        </div>
        <div class="mb-3">
            {{ form.profile_picture|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            {{ form.first_name|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            {{ form.last_name|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            {{ form.email|add_class:"form-control" }}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
 <script>
      document.getElementById('id_profile_picture').addEventListener('change', function(event) {
          const file = event.target.files[0];
          if (file) {
              const reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('profile-pic-preview').src = e.target.result;
              };
              reader.readAsDataURL(file);
          }
      });
  </script>
</div>
{% endblock %}
