{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% if user.is_authenticated and user.is_counsellor %}{% url 'counsellor_home' %}{% else %}{% url 'home' %}{% endif %}">Wellness Whisper</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'chatbot' %}">Chat to our bot</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'video_call' %}">Join a call</a></li>
                    {% if user.role.role_name == "counsellor" %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'set_availability' %}">Schedule Availability</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'professionals' %}">Book a session</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_bookings' %}">View Bookings</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>

            {% if user.is_authenticated %}
                <div class="d-flex align-items-center">
                    <div class="streak-counter me-3">
                        <span class="streak-number">{{ user.login_streak }}</span> Days Streak
                    </div>
                    <a class="nav-link" href="{% url 'user_details' %}">
                        <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'images/default-profile.png' %}{% endif %}" class="rounded-circle" style="width:40px; height: 40px;" alt="User profile picture">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
